<a href="#" class="js-prev" data-id="<%=@entry.id%>">Prev</a>
<a href="#" class="js-next" data-id="<%=@entry.id%>">Next</a>

<p><strong>Page <%= link_to(@entry.page.page_number, page_path(@entry.page)) %></strong></p>

<h4 class='entryTime'>Time: <%= @entry.time %></h4>

<h4 class='entryMood'>Mood: <%= @entry.mood %></h4>

<h2>Content:</h2>
<p class='entryContent'><%= @entry.content %></p>