<p><strong>Chapter <%= link_to(@page.chapter.title, chapter_path(@page.chapter)) %></strong></p>

<p><%= link_to("Edit Page", edit_page_path(@page)) %></p>

<h3>Page <%= @page.page_number %> - <%= @page.date %></h3>

<div>
  <p><%= @page.quote %></p>
</div>

<div>
  <h3>Thank you for...</h3>
  <p><%= @page.thank_you %></p>
</div>

<div>
  <h2>Today's Lesson:</h2>
  <p><%= @page.lesson_learned %>
</div>

<div>
  <h2>Tasks:</h2>
  <%= link_to("Add Task", new_page_task_path(@page)) %>
  <% @page.tasks.each do |t| %>
    <p>
      <%= link_to "x", t, method: :delete %>
      <%= t.name %>
    </p>
  <% end %>
</div>

<div>
  <h2>Entries:</h2>
  <div id='entry-nav'>
    <p class='new'><%= link_to("Add Entry", new_page_entry_path(@page)) %></p>
    <p>
      <a href='/pages/<%= @page.id %>/entries' class='all'>View Entries</a>
      <!--<%= link_to("View Entries", page_entries_path(@page)) %>-->
      </p>
  </div>

  <ul>
    <% @page.entries.each do |e| %>
      <li><%= link_to(e.time, entry_path(e)) %> - <%= link_to "x", e, method: :delete %></li>
    <% end %>
  </ul>
  <div id='results'>
    
  </div>
</div>
