<h4>Book <%= link_to(@chapter.book.title, book_path(@chapter.book)) %></h4>

<h1><%= @chapter.title %></h1>

<%= link_to("Edit Chapter", edit_chapter_path(@chapter)) %>

<div>
  <h3>Main Focus:</h3>
  <p><%= @chapter.main_focus %></p>
</div>


<h2>Important Dates</h2>
  <div id= 'add-date'>
    <%= link_to("Add Date", new_chapter_important_date_path(@chapter)) %>
  </div>

  <% @chapter.important_dates.order(:date).each do |date| %>
    <p><%= date.date.strftime("%A, %B %d") %> - <%= link_to(date.title, edit_important_date_path(date)) %></p>
  <% end %>

<h2>Pages</h2>
  <%= link_to("Add Page", new_chapter_page_path(@chapter)) %>

  <ul>
    <% @chapter.pages.each do |page| %>
      <li>Page <%= link_to(page.page_number, page_path(page)) %> - <%= page.date %></li>
    <% end %>
  </ul>
